.gsap
  svg.gsap__svg.-main(xmlns="http://www.w3.org/2000/svg" width="1587.202" height="3000.021" viewBox="0 0 1587.202 1640.021")
    path(id="shape" data-name="shape" d="M410.926,0c241.9,0,438,261.494,438,584.063s9.513,702.324-325.5,702.324-692.506-515.241-692.506-837.81S169.026,0,410.926,0Z" transform="translate(909.199 101.754) rotate(37)" fill="#E0FEFE")
  .gsap__container
    .gsap__title Strona z animacjami
    .gsap__inner 
      .gsap__item.-first
        svg.gsap__svg.-first(xmlns="http://www.w3.org/2000/svg" width="360" height="408" viewBox="0 0 360 408")
          path(id="s" data-name="s" d="M198.6-402q55.2,0,97.5,17.1a206.453,206.453,0,0,1,73.5,50.1l-49.8,66.6q-25.8-27-55.5-40.5t-67.5-13.5q-22.2,0-36,4.8T141-304.2a32.2,32.2,0,0,0-6,19.2q0,12.6,11.7,21.3T184.8-249l66.6,15q59.4,13.8,87,40.2T366-123.6q0,42-21.6,71.1T285-8.7Q247.2,6,198.6,6A320.828,320.828,0,0,1,123-2.7Q87-11.4,58.2-27.6T9.6-64.8l49.8-69a156.891,156.891,0,0,0,36.9,30.9,200.261,200.261,0,0,0,48,21.3,184.5,184.5,0,0,0,53.1,7.8q21,0,35.1-4.2t20.7-12.6a31.1,31.1,0,0,0,6.6-19.8,28.483,28.483,0,0,0-9-21.3q-9-8.7-34.2-14.7l-73.2-16.2q-33.6-7.8-59.7-20.7T42.6-218.1q-15-21.9-15-54.9,0-37.2,20.4-66.3t58.8-45.9Q145.2-402,198.6-402Z" transform="translate(-9.6 402)" fill="#0605fe")
      .gsap__item.-first
        .gsap__text.-first Wykorzystaj nowoczesne materiały udostępniania i promocji konsultacji, aby łatwiej dotrzeć do mieszkańców i zyskać więcej odpowiedzi.
      .gsap__item.-second
        svg.gsap__svg.-second(xmlns="http://www.w3.org/2000/svg" width="448.532" height="509.52" viewBox="0 0 448.532 509.52")
          path(id="s2" data-name="s" d="M198.6-402q55.2,0,97.5,17.1a206.453,206.453,0,0,1,73.5,50.1l-49.8,66.6q-25.8-27-55.5-40.5t-67.5-13.5q-22.2,0-36,4.8T141-304.2a32.2,32.2,0,0,0-6,19.2q0,12.6,11.7,21.3T184.8-249l66.6,15q59.4,13.8,87,40.2T366-123.6q0,42-21.6,71.1T285-8.7Q247.2,6,198.6,6A320.828,320.828,0,0,1,123-2.7Q87-11.4,58.2-27.6T9.6-64.8l49.8-69a156.891,156.891,0,0,0,36.9,30.9,200.261,200.261,0,0,0,48,21.3,184.5,184.5,0,0,0,53.1,7.8q21,0,35.1-4.2t20.7-12.6a31.1,31.1,0,0,0,6.6-19.8,28.483,28.483,0,0,0-9-21.3q-9-8.7-34.2-14.7l-73.2-16.2q-33.6-7.8-59.7-20.7T42.6-218.1q-15-21.9-15-54.9,0-37.2,20.4-66.3t58.8-45.9Q145.2-402,198.6-402Z" transform="translate(-9.6 402)" fill="#0605fe")
      .gsap__item.-second
        .gsap__text.-second Wykorzystaj nowoczesne materiały udostępniania i promocji konsultacji, aby łatwiej dotrzeć do mieszkańców i zyskać więcej odpowiedzi.
      .gsap__item.-third
        svg.gsap__svg.-third(xmlns="http://www.w3.org/2000/svg" width="360" height="408" viewBox="0 0 360 408")
          path(id="s3" data-name="s2" d="M198.6-402q55.2,0,97.5,17.1a206.453,206.453,0,0,1,73.5,50.1l-49.8,66.6q-25.8-27-55.5-40.5t-67.5-13.5q-22.2,0-36,4.8T141-304.2a32.2,32.2,0,0,0-6,19.2q0,12.6,11.7,21.3T184.8-249l66.6,15q59.4,13.8,87,40.2T366-123.6q0,42-21.6,71.1T285-8.7Q247.2,6,198.6,6A320.828,320.828,0,0,1,123-2.7Q87-11.4,58.2-27.6T9.6-64.8l49.8-69a156.891,156.891,0,0,0,36.9,30.9,200.261,200.261,0,0,0,48,21.3,184.5,184.5,0,0,0,53.1,7.8q21,0,35.1-4.2t20.7-12.6a31.1,31.1,0,0,0,6.6-19.8,28.483,28.483,0,0,0-9-21.3q-9-8.7-34.2-14.7l-73.2-16.2q-33.6-7.8-59.7-20.7T42.6-218.1q-15-21.9-15-54.9,0-37.2,20.4-66.3t58.8-45.9Q145.2-402,198.6-402Z" transform="translate(-9.6 402)" fill="#0605fe")
      .gsap__item.-third
        .gsap__text.-third Wykorzystaj nowoczesne materiały udostępniania i promocji konsultacji, aby łatwiej dotrzeć do mieszkańców i zyskać więcej odpowiedzi.
      .gsap__item.-fourth
        svg.gsap__svg.-fourth(xmlns="http://www.w3.org/2000/svg" width="448.532" height="509.52" viewBox="0 0 448.532 509.52")
          path(id="s4" data-name="s" d="M198.6-402q55.2,0,97.5,17.1a206.453,206.453,0,0,1,73.5,50.1l-49.8,66.6q-25.8-27-55.5-40.5t-67.5-13.5q-22.2,0-36,4.8T141-304.2a32.2,32.2,0,0,0-6,19.2q0,12.6,11.7,21.3T184.8-249l66.6,15q59.4,13.8,87,40.2T366-123.6q0,42-21.6,71.1T285-8.7Q247.2,6,198.6,6A320.828,320.828,0,0,1,123-2.7Q87-11.4,58.2-27.6T9.6-64.8l49.8-69a156.891,156.891,0,0,0,36.9,30.9,200.261,200.261,0,0,0,48,21.3,184.5,184.5,0,0,0,53.1,7.8q21,0,35.1-4.2t20.7-12.6a31.1,31.1,0,0,0,6.6-19.8,28.483,28.483,0,0,0-9-21.3q-9-8.7-34.2-14.7l-73.2-16.2q-33.6-7.8-59.7-20.7T42.6-218.1q-15-21.9-15-54.9,0-37.2,20.4-66.3t58.8-45.9Q145.2-402,198.6-402Z" transform="translate(-9.6 402)" fill="#0605fe")
      .gsap__item.-fourth
        .gsap__text.-fourth Wykorzystaj nowoczesne materiały udostępniania i promocji konsultacji, aby łatwiej dotrzeć do mieszkańców i zyskać więcej odpowiedzi.
      .gsap__item.-fifth
        svg.gsap__svg.-fifth(xmlns="http://www.w3.org/2000/svg" width="360" height="408" viewBox="0 0 360 408")
          path(id="s5" data-name="s3" d="M198.6-402q55.2,0,97.5,17.1a206.453,206.453,0,0,1,73.5,50.1l-49.8,66.6q-25.8-27-55.5-40.5t-67.5-13.5q-22.2,0-36,4.8T141-304.2a32.2,32.2,0,0,0-6,19.2q0,12.6,11.7,21.3T184.8-249l66.6,15q59.4,13.8,87,40.2T366-123.6q0,42-21.6,71.1T285-8.7Q247.2,6,198.6,6A320.828,320.828,0,0,1,123-2.7Q87-11.4,58.2-27.6T9.6-64.8l49.8-69a156.891,156.891,0,0,0,36.9,30.9,200.261,200.261,0,0,0,48,21.3,184.5,184.5,0,0,0,53.1,7.8q21,0,35.1-4.2t20.7-12.6a31.1,31.1,0,0,0,6.6-19.8,28.483,28.483,0,0,0-9-21.3q-9-8.7-34.2-14.7l-73.2-16.2q-33.6-7.8-59.7-20.7T42.6-218.1q-15-21.9-15-54.9,0-37.2,20.4-66.3t58.8-45.9Q145.2-402,198.6-402Z" transform="translate(-9.6 402)" fill="#0605fe")
      .gsap__item.-fifth
        .gsap__text.-fifth Wykorzystaj nowoczesne materiały udostępniania i promocji konsultacji, aby łatwiej dotrzeć do mieszkańców i zyskać więcej odpowiedzi.
      .gsap__item.-sixth
        svg.gsap__svg.-sixth(xmlns="http://www.w3.org/2000/svg" width="448.532" height="509.52" viewBox="0 0 448.532 509.52")
          path(id="s6" data-name="s" d="M198.6-402q55.2,0,97.5,17.1a206.453,206.453,0,0,1,73.5,50.1l-49.8,66.6q-25.8-27-55.5-40.5t-67.5-13.5q-22.2,0-36,4.8T141-304.2a32.2,32.2,0,0,0-6,19.2q0,12.6,11.7,21.3T184.8-249l66.6,15q59.4,13.8,87,40.2T366-123.6q0,42-21.6,71.1T285-8.7Q247.2,6,198.6,6A320.828,320.828,0,0,1,123-2.7Q87-11.4,58.2-27.6T9.6-64.8l49.8-69a156.891,156.891,0,0,0,36.9,30.9,200.261,200.261,0,0,0,48,21.3,184.5,184.5,0,0,0,53.1,7.8q21,0,35.1-4.2t20.7-12.6a31.1,31.1,0,0,0,6.6-19.8,28.483,28.483,0,0,0-9-21.3q-9-8.7-34.2-14.7l-73.2-16.2q-33.6-7.8-59.7-20.7T42.6-218.1q-15-21.9-15-54.9,0-37.2,20.4-66.3t58.8-45.9Q145.2-402,198.6-402Z" transform="translate(-9.6 402)" fill="#0605fe")
      .gsap__item.-sixth
        .gsap__text.-sixth Wykorzystaj nowoczesne materiały udostępniania i promocji konsultacji, aby łatwiej dotrzeć do mieszkańców i zyskać więcej odpowiedzi.
      